<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
    	<div class="item item-divider">
    		<p>Location Information</p>
    	</div>
    	<div class="item item-text-wrap">
    		<p>Our Address</p><p>

121, Clear Water Bay Road <br>
Clear Water Bay, Kowloon <br>
HONG KONG <br>
<span class="icon ion-android-call">: +852 1234 5678 <br>
<span class="icon ion-printer"></span>: +852 8765 4321 <br>
<span class="icon ion-ios-email"> </span>: confusion@food.net
    		
    		</p>
    		<div class="button-bar">
    		<button class="button button-positive icon ion-android-call">
			  Call
			</button>
			<button class="button button-calm icon ion-social-skype" >
			  Skype
			</button>
			<button class="button button-balanced icon ion-ios-email" >
			  Email
			</button>
    		</div>
    	</div>
    </div>
  </ion-content>
</ion-view>
